{{ define "main" }}
{{ $ftitles := dict "nativa" "Planta Nativa" "cientifico" "Nombre científico" "comunes" "Nombres comunes" "familia" "Familia" "tipo_de_planta" "Tipo de planta" "altura_de_planta" "Altura de planta" "bracteas" "Brácteas" "flores_frutos" "Flores / Frutos" "elevacion" "Elevación msnm" "sombrasol" "Sombra o sol" "fenologia" "Fenología vegetativa" "floracion" "Floración" "tolerancia" "Tolerancia a sequía" "fauna" "Fauna relacionada a la planta" "metodos" "Métodos de propagación" "notas" "Notas" }}

<div class="plantsContainer">
	{{ $currentPlant := . }}
	{{ $plants := .Site.Taxonomies.tags.nativas }}
	{{ if in .Params.tags "Problemáticas" }}{{ $plants = .Site.Taxonomies.tags.problemáticas }}{{ end }}
	<ul class="plantsList">
		{{- range $plants -}}
		{{- partial "plantinlist.html" (dict "plant" . "isCurrent" (eq .Permalink $currentPlant.Permalink)) -}}
		{{ end }}
	</ul>
	<div class="selectedplant">
		    <h1 class="page-title">{{ .Title }}</h1>
		<article class="plantItem page-{{ replace .Title " " "_" | lower }}">
			<div class="plantPics">
				<ul class="plantSlides">
				{{ range $idx, $img := .Resources.ByType "image" }}
					<li id="slide_{{$idx}}"><img src="{{$img.RelPermalink}}"></li>
				{{ end }}
				</ul>
				<ul class="plantThumbnails">
				{{ range $idx, $img := .Resources.ByType "image" }}
					<li><a href="#slide_{{$idx}}"><img src="{{$img.RelPermalink}}"></a></li>
				{{ end }}
				</ul>
			</div>
			<div class="plantFields">
			    <div class="page-content">{{ .Content }}</div>
				<dl>
				{{ range $fkey, $fval := .Params.fields }}
					{{ $title := index $ftitles $fkey }}
					<dt>{{ $title }}</dt>
					<dd>{{ if isset $fval 0}}{{ delimit $fval ", " }}{{ else }}{{ $fval }}{{ end }}</dd>
				{{ end }}
				</dl>
			</div>
		</article>
	</div>
</div>

<style>
	.plantsContainer {
		display: flex;
	}

	.plantsList {
		display: flex;
		flex-direction: column;
		width: 18rem;
		list-style: none;
		flex: 0 0 auto;
	}
	.plantsList li {
		border: 6px solid transparent;
	}
	.plantsList li.current {
		border: 6px solid var(--c-yellow);
	}

	.plantsList img {
		display: block;
	}

	.selectedplant {
		flex-grow: 1;
	}

	article.plantItem {
		display: flex;
	}
	article.plantItem div {
		margin: 0 0.5rem;
	}

	.plantFields dl {
	  display: grid;
	  grid-template-columns: 1fr 3fr;
	}

	.plantFields dt {
	  font-weight: bold;
	  margin: 0.125rem 0;
	}
	.plantFields dt:after {
		content: ":";
	}



.plantPics {
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  width: 30vw;
  text-align: center;
}
.plantPics ul {
	list-style: none;
}

.plantThumbnails {
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
  line-height: 0;
  flex-wrap: wrap;
  width: 100%;
}

.plantThumbnails li {
    margin: 0.25rem;
  }

.plantThumbnails a {
    display: block;
  }
  
.plantThumbnails img {
    width: 10vmin;
    height: 10vmin;
    object-fit: cover;
    object-position: top;
  }

.plantSlides {
  overflow: hidden;
  width: 100vmin;
  height: 50vmin;
}

.plantSlides li {
/*    width: 100vmin;
    height: 75vmin;*/
    position: absolute;
    z-index: 1;
    background-color: var(--c-dark-gray);
  }
  
.plantSlides img {
	width: 50vmin;
    height: 50vmin;
    object-fit: contain;
    object-position: center;
  }


.plantSlides li:target {
  z-index: 3;
  animation: fadein 0.5s;
}

.plantSlides li:not(:target) {
	z-index: 1;
	animation: hidden 0.5s;
}


@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hidden {
  0% {
    z-index: 2;
  }
  100% {
    z-index: 2;
  }
}
</style>
{{ end }}