<footer>
	<div class="footer-wrapper">
	    <div class="footer-content">
	        <div class="footer-logo"><img src="/img/logo_gray.svg" /></div>
	        <div class="footer-quote">&ldquo;Promoviendo jardines más Ecológicos, Diversos,
	            Económicos<br/> y que dan hábitat a los
	            animales&rdquo;</div>
	    </div>
	    <div class="footer-copy">Copyright &copy; {{ now.Format "2006" }} Red Pronativas &ndash;
	        Todos los derechos
	        reservados.
	    </div>
	</div>
</footer>